@model ProjetoLivrariaEstoque.Models.Livro

@{
    ViewBag.Title = "Delete";
}

<h2>Deletar Registro</h2>

<h3>Tem certeza que deseja deletar este registro permanentemente ?</h3>
<div>
    <h4>Livro</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Nome do Livro")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.Label("Autor")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Autor)
        </dd>

        <dt>
            @Html.Label("Quantidade")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantidade)
        </dd>

        <dt>
            @Html.Label("Observações")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observacoes)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Deletar" class="btn btn-danger" />
            </div>
        <div class="form-actions no-color">
            @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-primary" })
        </div>
    }
</div>
